body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  background: linear-gradient(
    to bottom,
    #18122b,
    #393053,
    #393053,
    #635985,
    #393053
  );
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  border-radius: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  position: relative;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
  color: #f0f0f0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.5);
}

#logo {
  transition: transform 0.3s ease, filter 0.3s ease;
}

#logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
}

#about {
  margin: 100px 100px;
  padding: 80px 80px;
  text-align: center;
}

#about h1 {
  font-size: 100px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 4px 4px 13px rgb(44, 44, 44) ;
}

#about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

#about button {
  background-color: transparent;
  font-size: 18px;
  padding: 17px 40px;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#about button .arrow {
  margin-left: 10px;
  transition: margin-left 0.3s ease;
}

#about button:hover {
  background-color: #dfdfdf;
  color: black;
  box-shadow: 0 8px 20px rgba(211, 211, 211, 0.5);
  transform: scale(1.005);
}

#about button:hover .arrow {
  margin-left: 20px;
}
